@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    font-family: 'Mukta', sans-serif;
}

.div_heading {
    background-color: black;
    height: 70px;
}

.li_heading {
    display: inline-block;
    padding: 2px;
}

.ul_heading {
    float: right;
    margin-right: 100px;
}

.h1_heading {
    position: absolute;
    margin-top: -9px;
    color: white;
    margin-left: 25px;
    font-family: 'Pacifico', cursive;
}

.a_heading {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}

button {
    padding: 5px 30px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

button:hover {
    background-color: red;
    border: 1px solid red;
}

#logo_heading {
    margin-left: 900px;
    position: absolute;
}

.logo {
    border-radius: 50%;
    width: 75px;
    height: 70px;
}

.winner {
    margin-left: 560px;
    position: absolute;
}

#winner_txt {
    margin-left: 610px;
    margin-top: 50px;
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ytb_vid {
    margin-left: 563px;
    width: 800px;
    margin-top: 450px;
    height: 405px;
}

#above_vid {
    position: absolute;
    margin-left: 563px;
    margin-top: 393px;
}

#txt_above_vid {
    margin-left: 124px;
}

#txt_above_vid a {
    text-decoration: none;
    color: black;
}

#img_ytb {
    width: 163px;
    height: 100px;
    margin-left: 390px;
    margin-top: -83px;
}


/* Sections */

#about {
    background-color: black;
    width: 500px;
    margin-left: 28px;
    height: 405px;
    margin-top: -883px;
    color: white;
}

#work {
    position: absolute;
    background-color: black;
    width: 500px;
    margin-left: 28px;
    height: 406px;
    margin-top: 42px;
    color: white;
}

#resume {
    background-color: black;
    width: 500px;
    margin-left: 1390px;
    height: 405px;
    margin-top: -428px;
    color: white;
}

#contact {
    position: absolute;
    background-color: black;
    width: 500px;
    margin-left: 1390px;
    height: 406px;
    margin-top: 42px;
    color: white;
}


/* Footer */

#footer {
    position: absolute;
    background-color: black;
    margin-top: 454px;
    margin-left: 28px;
    height: 42px;
    width: 1863px;
    color: white;
}

.p_footer {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}


/* FA ICONS  */

.ig {
    position: absolute;
    margin-left: 1332px;
    margin-top: -8px;
}

.git {
    position: absolute;
    margin-left: 1363px;
    margin-top: -8px;
}

.fb {
    position: absolute;
    margin-left: 1396px;
    margin-top: -8px;
}

.li {
    position: absolute;
    margin-left: 1431px;
    margin-top: -8px;
}

#footer a {
    text-decoration: none;
    color: white;
}